# Laravel core
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.production
/.phpunit.result.cache
/.phpunit.cache

# Laravel front-end build stuff
/public/hot
/public/build

# Debug & Logs
npm-debug.log
yarn-error.log

# IDE/editor configs
/.idea
/.vscode
Homestead.json
Homestead.yaml
auth.json

# Laravel Vapor and Fleet
/.fleet
